/* CSS for ChiliPeppr Widget */

#com-chilipeppr-widget-myhomecnc {

}
#com-chilipeppr-widget-myhomecnc .nav-tabs>li>a ,
#com-chilipeppr-widget-myhomecnc-modal-settings .nav-tabs>li>a {
    padding: 2px 6px;
}
#com-chilipeppr-widget-myhomecnc .nav nav-tabs ,
#com-chilipeppr-widget-myhomecnc-modal-settings .nav nav-tabs {
    padding: 0px;
}

/* Header */
#com-chilipeppr-widget-myhomecnc .btn-cncmode {
    width: 65px !important;
    top: 6px;
}
#com-chilipeppr-widget-myhomecnc .btn-cnc-estop {
    width: 50px;
}
    
/* Chart */
#com-chilipeppr-widget-myhomecnc .chartjs-render-monitor {
    padding: 20px 2px 0px 2px;
    height: 200px !important;
    width: 441px !important;
    
}
#com-chilipeppr-widget-myhomecnc .cnc-chart {
    display: inline-block;
}

/* Modal */
#com-chilipeppr-widget-myhomecnc-modal-settings .net-delarre-widget-gpio-pins-area {
}
#com-chilipeppr-widget-myhomecnc-modal-settings .nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
#com-chilipeppr-widget-myhomecnc-modal-settings #editPinForm {
    margin: 10px;
}
#com-chilipeppr-widget-myhomecnc-modal-settings #editPinForm .form-group {
    margin-bottom: 3px;
}
#com-chilipeppr-widget-myhomecnc-modal-settings .pin-controls .control-label {
    text-align: right;
    line-height: 33px;
}

/* Size */
#com-chilipeppr-widget-myhomecnc .cnc-padding {
    padding: 5px 5px 5px 5px !important;
}
#com-chilipeppr-widget-myhomecnc .panel-body , 
#com-chilipeppr-widget-myhomecnc-modal-settings .modal-body {
    overflow-y: hidden;
    overflow-x: hidden;
}
#com-chilipeppr-widget-myhomecnc .connect-panel-body {
    padding: 5px 5px 5px 5px;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 276px;
    /*width: 465px;*/
}

/* Widget Resize */
#com-chilipeppr-widget-myhomecnc .cnc-container-s {
    width: 461px;
    height: 240px;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
#com-chilipeppr-widget-myhomecnc .cnc-row-s-mix , 
#com-chilipeppr-widget-myhomecnc-modal-settings .cnc-row-s-mix {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
}
#com-chilipeppr-widget-myhomecnc .cnc-row-s-label {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#com-chilipeppr-widget-myhomecnc .cnc-col-s-mix ,
#com-chilipeppr-widget-myhomecnc-modal-settings .cnc-col-s-mix {
    padding: 0px 0px 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 34px;
}
#com-chilipeppr-widget-myhomecnc .cnc-col-s-label {
    padding: 0px 0px 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 20px;
}
#com-chilipeppr-widget-myhomecnc .cnc-row-bottomline , 
#com-chilipeppr-widget-myhomecnc-modal-settings .cnc-row-bottomline {
    border-bottom: solid 1px lightgray;
}
#com-chilipeppr-widget-myhomecnc .cnc-div-s-mix ,
#com-chilipeppr-widget-myhomecnc-modal-settings .cnc-div-s-mix {
    display: inline-block;
    height: 34px;
    margin-top: 0px;
}
#com-chilipeppr-widget-myhomecnc .cnc-div-s-label {
    display: inline-block;
    height: 20px;
    margin-top: 0px;
}
#com-chilipeppr-widget-myhomecnc .cnc-label-s-mix ,
#com-chilipeppr-widget-myhomecnc-modal-settings .cnc-label-s-mix { /* Same for span and slider */ 
    display: inline-block;
    /*vertical-align: middle;*/
    font-size: small;
    height: 20px;
    margin-top: 7px;
}
#com-chilipeppr-widget-myhomecnc .cnc-label-s {
    display: inline-block;
    /*vertical-align: middle;*/
    font-size: small;
    height: 20px;
    margin-top: 0px;
}
#com-chilipeppr-widget-myhomecnc .cnc-input-s-mix ,
#com-chilipeppr-widget-myhomecnc-modal-settings .cnc-input-s-mix { /* Same for span and slider */ 
    margin-top: 0px;
    height: 30px;
}
#com-chilipeppr-widget-myhomecnc .cnc-span-s {
    display: inline-block;
    font-size: smaller;
    /*vertical-align: middle;*/
    height: 20px;
    margin-top: 2px;
}
#com-chilipeppr-widget-myhomecnc .cnc-span-s-mix ,
#com-chilipeppr-widget-myhomecnc-modal-settings .cnc-span-s-mix {
    display: inline-block;
    font-size: smaller;
    /*vertical-align: middle;*/
    height: 20px;
    margin-top: 7px;
}
#com-chilipeppr-widget-myhomecnc .cnc-check-s-mix {
    height: 16px;
    margin-top: 7px; /*7px instead of 9px because every check has a span inside the same div */ 
    width: 16px;
}
#com-chilipeppr-widget-myhomecnc .cnc-check-s {
    height: 16px;
    margin-top: 2px;
    width: 16px;
}
#com-chilipeppr-widget-myhomecnc .cnc-slider-s-mix {
    height: 16px;
    margin-top: 8px; /* Moved from 7px to 8px due to the handle */
}
#com-chilipeppr-widget-myhomecnc .cnc-slider-s {
    width: 100%;
    height: 16px;
    margin-top: 3px; /* Moved from 2px to 3px due to the handle */
}
#com-chilipeppr-widget-myhomecnc .cnc-button-s ,
#com-chilipeppr-widget-myhomecnc-modal-settings .cnc-button-s { /* Same of input */
    font-size: small;
    margin-top: 2px;
    height: 30px;
}
#com-chilipeppr-widget-myhomecnc .cnc-space-left , 
#com-chilipeppr-widget-myhomecnc-modal-settings .cnc-space-left {
    padding-left: 5px;
}
#com-chilipeppr-widget-myhomecnc .cnc-space-right ,
#com-chilipeppr-widget-myhomecnc-modal-settings .cnc-space-right {
    padding-right: 5px;
}
#com-chilipeppr-widget-myhomecnc .cnc-space-both ,
#com-chilipeppr-widget-myhomecnc-modal-settings .cnc-space-both {
    padding-right: 5px;
    padding-left: 5px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-s-xxs {
    font-size: small;
    margin-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 30px;
    height: 30px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-s-xs {
    font-size: small;
    margin-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 42px;
    height: 30px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-s-s , 
#com-chilipeppr-widget-myhomecnc-modal-settings .cnc-button-s-s {
    font-size: small;
    margin-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 50px;
    height: 30px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-s-l , 
#com-chilipeppr-widget-myhomecnc-modal-settings .cnc-button-s-l {
    font-size: small;
    margin-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 70px;
    height: 30px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-s-xl, 
#com-chilipeppr-widget-myhomecnc-modal-settings .cnc-button-s-xl {
    font-size: small;
    margin-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 85px;
    height: 30px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-s-xxl , 
#com-chilipeppr-widget-myhomecnc-modal-settings .cnc-button-s-xxl {
    font-size: small;
    margin-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 100px;
    height: 30px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-s-xxxl {
    font-size: small;
    margin-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 120px;
    height: 30px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-s-xxxxl {
    font-size: small;
    margin-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 240px;
    height: 30px;
}
/* Widget Resize XS */
#com-chilipeppr-widget-myhomecnc .cnc-row-xs-mix {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
}
#com-chilipeppr-widget-myhomecnc .cnc-row-xs-label {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}
#com-chilipeppr-widget-myhomecnc .cnc-col-xs-mix {
    padding: 0px 0px 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 24px;
}
#com-chilipeppr-widget-myhomecnc .cnc-col-xs-label {
    padding: 0px 0px 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 16px;
}
#com-chilipeppr-widget-myhomecnc .cnc-div-xs-mix {
    display: inline-block;
    height: 24px;
    margin-top: 0px;
}
#com-chilipeppr-widget-myhomecnc .cnc-div-xs-label {
    display: inline-block;
    height: 16px;
    margin-top: 0px;
}
#com-chilipeppr-widget-myhomecnc .cnc-label-xs-mix { /* Same for span and slider */ 
    display: inline-block;
    font-size: smaller;
    height: 16px;
    margin-top: 4px;
}
#com-chilipeppr-widget-myhomecnc .cnc-label-xs {
    display: inline-block;
    font-size: smaller;
    height: 16px;
    margin-top: 0px;
}
#com-chilipeppr-widget-myhomecnc .cnc-input-xs-mix { /* Same for span and slider */ 
    height: 24px;
}
#com-chilipeppr-widget-myhomecnc .cnc-span-xs {
    display: inline-block;
    font-size: smaller;
    height: 16px;
    margin-top: 0px;
}
#com-chilipeppr-widget-myhomecnc .cnc-span-xs-mix {
    display: inline-block;
    font-size: smaller;
    height: 16px;
    margin-top: 4px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-xs { /* Same of input */
    font-size: smaller;
    margin-top: 0px;
    height: 24px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-xs-xxs {
    font-size: smaller;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 24px;
    height: 24px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-xs-xs {
    font-size: smaller;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 42px;
    height: 24px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-xs-s {
    font-size: smaller;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 50px;
    height: 24px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-xs-l {
    font-size: smaller;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 70px;
    height: 24px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-xs-xl {
    font-size: smaller;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 85px;
    height: 24px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-xs-xxl {
    font-size: smaller;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 100px;
    height: 24px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-xs-xxxl {
    font-size: smaller;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 120px;
    height: 24px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-xs-xxxxl {
    font-size: smaller;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 240px;
    height: 24px;
}
#com-chilipeppr-widget-myhomecnc .btn:focus , 
#com-chilipeppr-widget-myhomecnc-modal-settings .btn:focus {
  outline: none;
}
#com-chilipeppr-widget-myhomecnc .cnc-cursor:hover {
    cursor: context-menu;
}
/* Label toolbar from btn toolbar */
#com-chilipeppr-widget-myhomecnc .btn-to-lbl {
  display: inline-block;
  font-size: small;
  box-shadow: inset 0px 0px 0px;
  padding: 0px;
  margin-top: 0px;
  text-align: center;
}
#com-chilipeppr-widget-myhomecnc .btn-to-lbl:hover {
    cursor: context-menu;
}
#com-chilipeppr-widget-myhomecnc .cnc-frame {
  box-sizing: border-box;
  display: inline-block;
  padding: 0px;
  margin-top: 1px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: opx;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 30px
}
/* Loader */
#com-chilipeppr-widget-myhomecnc .cnc-loader {
  margin-top: 10px;
  display: inline-block;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid red;
  border-right: 3px solid red;
  width: 18px;
  height: 18px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* LOG Tab */
#com-chilipeppr-widget-myhomecnc .cnc-log-container {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
    box-shadow: inset 1px 1px 1px darkgray;
    border: 1px solid lightgray;
    font-size: 0.84em;
    width: 441px;
    height: 195px;
    margin: 0px;
    padding: 0px;
}
#com-chilipeppr-widget-myhomecnc .cnc-log-msg {
    display: block;
    padding-left: 2px ;
}
/* Colors */
#com-chilipeppr-widget-myhomecnc .cnc-bkgwhite {
    background-color: rgba(255,255,255,1);
}
#com-chilipeppr-widget-myhomecnc .cnc-bkgblack {
    background-color: rgba(0,0,0,1);
}
#com-chilipeppr-widget-myhomecnc .cnc-bkgred {
    background-color: rgba(255,0,0,1);
}
#com-chilipeppr-widget-myhomecnc .cnc-bkggreen {
    background-color: rgba(0,255,0,1);
}
#com-chilipeppr-widget-myhomecnc .cnc-bkgblue {
    background-color: rgba(0,0,255,1);
}
#com-chilipeppr-widget-myhomecnc .cnc-bkgyellow {
    background-color: rgba(255,255,0,1);
}
#com-chilipeppr-widget-myhomecnc .cnc-bkgpurple {
    background-color: rgba(128,0,128,1);
}
#com-chilipeppr-widget-myhomecnc .cnc-bkgorange {
    background-color: rgba(255,127,0,1);
}
#com-chilipeppr-widget-myhomecnc .cnc-bkgice {
    background-color: rgba(255,255,240, 1)
}

#com-chilipeppr-widget-myhomecnc .cnc-white {
    color: rgba(255,255,255,1);
}
#com-chilipeppr-widget-myhomecnc .cnc-black {
    color: rgba(0,0,0,1);
}
#com-chilipeppr-widget-myhomecnc .cnc-red {
    color: rgba(255,0,0,1);
}
#com-chilipeppr-widget-myhomecnc .cnc-green {
    color: rgba(0,100,0,1);
}
#com-chilipeppr-widget-myhomecnc .cnc-blue {
    color: rgba(0,0,255,1);
}
#com-chilipeppr-widget-myhomecnc .cnc-yellow {
    color: rgba(255,255,0,1);
}
#com-chilipeppr-widget-myhomecnc .cnc-purple {
    color: rgba(127,0,127,1);
}
#com-chilipeppr-widget-myhomecnc .cnc-orange {
    color: rgba(255,127,0,1);
}
/* Modal Settings */
#com-chilipeppr-widget-myhomecnc-modal-settings .cnc-settings-container {
    width: 558px;
    height: 200px;
    padding-top: 3px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
#com-chilipeppr-widget-myhomecnc-modal-settings .cnc-m-input {
    display: inline-block;
    height: 30px;
    margin-top: 2px;
}
#com-chilipeppr-widget-myhomecnc-modal-settings .cnc-m-input-label-addon {
    display: inline-block;
    height: 30px;
    font-size: smaller;
    margin-top: 2px;
    margin-right: 0px;
    padding-top: 7px;
    padding-left: 0px;
    padding-right: 0px;
}
#com-chilipeppr-widget-myhomecnc-modal-settings .cnc-m-input-group-btn-addon {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}
#com-chilipeppr-widget-myhomecnc-modal-settings .cnc-m-input-btn-addon {
    display: inline-block;
    height: 30px;
    font-size: small;
    margin-top: 2px;
    margin-left: 0px;
    padding: 0px;
}