/* CSS for ChiliPeppr Widget */

#com-chilipeppr-widget-myhomecnc {

}
#com-chilipeppr-widget-myhomecnc .nav-tabs>li>a {
    padding: 2px 6px;
}
#com-chilipeppr-widget-myhomecnc .nav nav-tabs {
    padding: 0px;
}

/* Header */
#com-chilipeppr-widget-myhomecnc .btn-cncmode {
    width: 65px !important;
    top: 6px;
}

/*#com-chilipeppr-widget-myhomecnc .cnc-toolbar {
    width: 150px;
}*/
#com-chilipeppr-widget-myhomecnc .btn-cnc-estop {
    width: 50px;
}
    
/* Chart */
#com-chilipeppr-widget-myhomecnc .chartjs-render-monitor {
    padding: 20px 2px 0px 2px;
    height: 200px !important;
    width: 441px !important;
    
}
#com-chilipeppr-widget-myhomecnc .cnc-chart {
    display: inline-block;
}

/* Modal */
#com-chilipeppr-widget-myhomecnc-modal-settings .net-delarre-widget-gpio-pins-area {
}
#com-chilipeppr-widget-myhomecnc-modal-settings .nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
#com-chilipeppr-widget-myhomecnc-modal-settings #editPinForm {
    margin: 10px;
}
#com-chilipeppr-widget-myhomecnc-modal-settings #editPinForm .form-group {
    margin-bottom: 3px;
}
#com-chilipeppr-widget-myhomecnc-modal-settings .pin-controls .control-label {
    text-align: right;
    line-height: 33px;
}

/* Size */
#com-chilipeppr-widget-myhomecnc .cnc-padding {
    padding: 5px 5px 5px 5px !important;
}
#com-chilipeppr-widget-myhomecnc .panel-body {
    overflow-y: hidden;
    overflow-x: hidden;
}
#com-chilipeppr-widget-myhomecnc .connect-panel-body {
    padding: 5px 5px 5px 5px;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 276px;
    /*width: 465px;*/
}

/* Widget Resize */
#com-chilipeppr-widget-myhomecnc .cnc-container-s {
    width: 461px;
    height: 240px;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
#com-chilipeppr-widget-myhomecnc .cnc-row-s-mix {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
}
#com-chilipeppr-widget-myhomecnc .cnc-row-s-label {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#com-chilipeppr-widget-myhomecnc .cnc-col-s-mix {
    padding: 0px 0px 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 34px;
}
#com-chilipeppr-widget-myhomecnc .cnc-col-s-label {
    padding: 0px 0px 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 20px;
}
#com-chilipeppr-widget-myhomecnc .cnc-row-bottomline {
    border-bottom: solid 1px lightgray;
}
#com-chilipeppr-widget-myhomecnc .cnc-div-s-mix {
    display: inline-block;
    height: 34px;
    margin-top: 0px;
}
#com-chilipeppr-widget-myhomecnc .cnc-div-s-label {
    display: inline-block;
    height: 20px;
    margin-top: 0px;
}
#com-chilipeppr-widget-myhomecnc .cnc-label-s-mix { /* Same for span and slider */ 
    display: inline-block;
    /*vertical-align: middle;*/
    font-size: small;
    height: 20px;
    margin-top: 7px;
}
#com-chilipeppr-widget-myhomecnc .cnc-label-s {
    display: inline-block;
    /*vertical-align: middle;*/
    font-size: small;
    height: 20px;
    margin-top: 0px;
}
#com-chilipeppr-widget-myhomecnc .cnc-input-s-mix { /* Same for span and slider */ 
    margin-top: 0px;
    height: 30px;
}
#com-chilipeppr-widget-myhomecnc .cnc-span-s {
    display: inline-block;
    font-size: smaller;
    /*vertical-align: middle;*/
    height: 20px;
    margin-top: 2px;
}
#com-chilipeppr-widget-myhomecnc .cnc-span-s-mix {
    display: inline-block;
    font-size: smaller;
    /*vertical-align: middle;*/
    height: 20px;
    margin-top: 7px;
}
#com-chilipeppr-widget-myhomecnc .cnc-check-s-mix {
    height: 16px;
    margin-top: 7px; /*7px instead of 9px because every check has a span inside the same div */ 
    width: 16px;
}
#com-chilipeppr-widget-myhomecnc .cnc-check-s {
    height: 16px;
    margin-top: 2px;
    width: 16px;
}
#com-chilipeppr-widget-myhomecnc .cnc-slider-s-mix {
    height: 16px;
    margin-top: 7px;
}
#com-chilipeppr-widget-myhomecnc .cnc-slider-s {
    width: 100%;
    height: 16px;
    margin-top: 2px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-s { /* Same of input */
    font-size: small;
    margin-top: 2px;
    height: 30px;
}
#com-chilipeppr-widget-myhomecnc .cnc-space-left {
    padding-left: 5px;
}
#com-chilipeppr-widget-myhomecnc .cnc-space-right {
    padding-right: 5px;
}
#com-chilipeppr-widget-myhomecnc .cnc-space-both {
    padding-right: 5px;
    padding-left: 5px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-s-xxs {
    font-size: small;
    margin-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 30px;
    height: 30px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-s-xs {
    font-size: small;
    margin-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 42px;
    height: 30px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-s-s {
    font-size: small;
    margin-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 50px;
    height: 30px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-s-l {
    font-size: small;
    margin-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 70px;
    height: 30px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-s-xl {
    font-size: small;
    margin-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 85px;
    height: 30px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-s-xxl {
    font-size: small;
    margin-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 100px;
    height: 30px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-s-xxxl {
    font-size: small;
    margin-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 120px;
    height: 30px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-s-xxxxl {
    font-size: small;
    margin-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 240px;
    height: 30px;
}
/* Widget Resize XS */
#com-chilipeppr-widget-myhomecnc .cnc-row-xs-mix {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
}
#com-chilipeppr-widget-myhomecnc .cnc-row-xs-label {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}
#com-chilipeppr-widget-myhomecnc .cnc-col-xs-mix {
    padding: 0px 0px 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 24px;
}
#com-chilipeppr-widget-myhomecnc .cnc-col-xs-label {
    padding: 0px 0px 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 16px;
}
#com-chilipeppr-widget-myhomecnc .cnc-div-xs-mix {
    display: inline-block;
    height: 24px;
    margin-top: 0px;
}
#com-chilipeppr-widget-myhomecnc .cnc-div-xs-label {
    display: inline-block;
    height: 16px;
    margin-top: 0px;
}
#com-chilipeppr-widget-myhomecnc .cnc-label-xs-mix { /* Same for span and slider */ 
    display: inline-block;
    font-size: smaller;
    height: 16px;
    margin-top: 4px;
}
#com-chilipeppr-widget-myhomecnc .cnc-label-xs {
    display: inline-block;
    font-size: smaller;
    height: 16px;
    margin-top: 0px;
}
#com-chilipeppr-widget-myhomecnc .cnc-input-xs-mix { /* Same for span and slider */ 
    height: 24px;
}
#com-chilipeppr-widget-myhomecnc .cnc-span-xs {
    display: inline-block;
    font-size: smaller;
    height: 16px;
    margin-top: 0px;
}
#com-chilipeppr-widget-myhomecnc .cnc-span-xs-mix {
    display: inline-block;
    font-size: smaller;
    height: 16px;
    margin-top: 4px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-xs { /* Same of input */
    margin-top: 0px;
    height: 24px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-xs-xxs {
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 24px;
    height: 24px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-xs-xs {
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 42px;
    height: 24px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-xs-s {
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 50px;
    height: 24px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-xs-l {
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 70px;
    height: 24px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-xs-xl {
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 85px;
    height: 24px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-xs-xxl {
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 100px;
    height: 24px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-xs-xxxl {
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 120px;
    height: 24px;
}
#com-chilipeppr-widget-myhomecnc .cnc-button-xs-xxxxl {
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 240px;
    height: 24px;
}